[Unit]
Description=Original fbcp display driver
After=basic.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=2
User=root
ExecStart=/usr/local/bin/Freeplay-fbcp /boot/freeplayfbcp.cfg

[Install]
WantedBy=multi-user.target
